body {
  background: lightseagreen;
  box-sizing: border-box;
}

h1 {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}

.todoTitleInput {
  color: white;
  font-size: 18px;
  line-height: 20px;
  margin-left: 30px;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
}

.todoTitleInput::placeholder {
  color: white;
}

.addBtn {
  height: 23px;
  padding: 0 10px;
  font-weight: 700;
  background-color: white;
  color: lightseagreen;
  border-radius: 5px;
  border: none;
}

.container {
  display: flex;
  margin: 90px 30px 0;
  width: calc(100vw - 60px);
  height: fit-content;
  overflow-x: scroll;
}

.todo {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 300px;
  height: 60vh;
  padding: 10px 20px 30px;
  margin-right: 30px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.todoTitle {
  text-align: center;
  color: lightseagreen;
}

.list {
  padding: 0;
  flex-grow: 1;
  overflow-y: scroll;
}

.checkbox {
  margin: 0;
}

.item {
  list-style: none;
  margin-top: 5px;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}

.removeBtn {
  border: none;
  background: none;
  float: right;
  padding: 0;
}

.isDone {
  text-decoration: line-through;
}

.newItemInput {
  margin: 40px auto 0;
  width: 90%;
  border-radius: 5px;
  border: 1px solid lightgray;
  height: 30px;
  min-height: 30px;
  padding: 0 10px;
}

.closeBtn {
  border-radius: 50%;
  border: 1px solid gray;
  width: 30px;
  height: 30px;
  padding: 2px 0 0;
  background: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
